@font-face {
  font-family: 'HeaderFont';
  src: url('../assets/HeaderFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.header {
  padding-right: 80px;
  font-family: 'HeaderFont', sans-serif;
  display: flex;
  font-weight: bold;
  color: #202632;
  background-color: transparent;
  position: relative;
}

.header-image-container, .header-text-container, .contact-us-container {
  position: relative;
  top: 74px; 
}

.header-image-container {
  width: 122px;
  height: 37px;
  margin-right: 375px;
  left: 74px;
}

.header-image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.header-text-container {
  display: flex;
  gap: 120px; 
  align-items: center;

}

.contact-us-container {
  display: flex;
  align-items: center;
  left: 270px;
}

.header-text {
  font-family: 'HeaderFont', sans-serif;
  font-size: 15px;
}


